header,
section,
footer,
main {
  margin: 0 auto;
}

body {
  margin: 0px;
  font-family: 'Maven Pro', sans-serif;
  color: #fff;
  font-style: normal;
  font-stretch: normal;
}

header,
section,
footer {
  margin: 0 auto;
}

header {
  background-image: url(../css/img-blog/header-background.png);
  width: 1903px;
  height: 770px;
  position: relative;
  font-weight: bold;
}

.logo img {
  margin: 50px 0px 0px 50px;
  float: left;
}

.misocial {
  font-size: 30px;
  line-height: 0.97;
  letter-spacing: 6px;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 60px;
  margin-left: 17px;
}

.menu {
  float: right;
}
.menu ul {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  margin-top: 66px;
  margin-right: 260px;
}
.menu ul li {
  font-weight: normal;
  display: inline-block;
  margin-left: 50px;
}
.menu ul li > a {
  text-decoration: none;
  color: #fff;
}
.menu ul li > a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: translateY(15px) scale(0);
          transform: translateY(15px) scale(0);
  -webkit-transition: all .2s;
  transition: all .2s;
}
.menu ul li > a:hover {
  text-decoration: none;
}
.menu ul li > a:hover::after {
  -webkit-transform: translateY(15px) scale(1);
          transform: translateY(15px) scale(1);
}

.btn-t {
  position: absolute;
  right: 50px;
  top: 52px;
}
.btn-t button {
  width: 150px;
  height: 50px;
  font-size: 12px;
  line-height: 2.67;
  letter-spacing: 0.6px;
  text-align: center;
  border: none;
  background-color: transparent;
  border: solid 1px #ffffff;
  border-radius-right: 20px;
  text-transform: uppercase;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  font-weight: bold;
}
.btn-t button > a {
  height: 50px;
  line-height: 4;
  display: block;
  text-decoration: none;
  color: #fff;
}

.center-block {
  width: 800px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  clear: both;
  margin: 0 auto;
  position: relative;
  top: 146px;
}
.center-block span {
  font-size: 14px;
  line-height: 2.29;
  letter-spacing: 0.7px;
  position: relative;
  top: 6px;
}
.center-block span::after {
  display: inline-block;
  content: '';
  width: 24px;
  height: 1px;
  background-color: #fff;
  margin: 0 0 4px 15px;
}
.center-block span::before {
  display: inline-block;
  content: '';
  width: 24px;
  height: 1px;
  background-color: #fff;
  margin: 0 15px 4px 0px;
}
.center-block h1 {
  font-size: 85px;
  font-weight: 500;
  line-height: 0.85;
  letter-spacing: -3.4px;
  margin: 35px 0 0 0;
}
.center-block p {
  width: 390px;
  font-weight: normal;
  margin: 0 auto;
  margin-top: 37px;
}

.circle {
  width: 64px;
  height: 64px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 18.7px 2.3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 18.7px 2.3px rgba(0, 0, 0, 0.2);
  z-index: 999;
  position: absolute;
  bottom: 45px;
  left: 49%;
}
.circle img {
  width: 23px;
  position: absolute;
  left: 21px;
  top: 21px;
}

main {
  width: 1903px;
  height: 2360px;
  background-color: #f9fafc;
  overflow: hidden;
}

.container {
  width: 1520px;
  margin: 0 auto;
  margin-top: 120px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.row-3 {
  margin-bottom: 0px;
}

.card {
  width: 487px;
  height: 640px;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 20px 7px #d2d2d2;
          box-shadow: 0px 0px 20px 7px #d2d2d2;
}
.card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0;
}
.card .text {
  padding-left: 41px;
  padding-right: 41px;
}
.card h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -1px;
  text-align: left;
  color: #4f4f6f;
  margin: 38px 0 0 0;
}
.card small {
  color: #9fa4af;
  margin-top: 15px;
  display: block;
}
.card small::after {
  width: 70px;
  height: 1px;
  display: block;
  content: '';
  background-color: #6e45e2;
  margin: 28px 0 24px 0;
}
.card p {
  width: 370px;
  height: 83px;
  overflow: hidden;
  line-height: 1.75;
  font-size: 16px;
  color: #9fa4af;
  margin: 0;
}
.card .footer .comments {
  margin-top: 46px;
  display: inline-block;
}
.card .footer .comments img {
  width: 15px;
  height: 15px;
}
.card .footer span {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  color: #9fa4af;
  font-size: 13px;
  position: relative;
  top: -2px;
}
.card .footer .icon-man {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  padding: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  float: right;
  margin-top: 37px;
}
.card .footer .icon-man img {
  width: 24px;
  height: 24px;
  margin-top: 6px;
}
.color-1 {
  background-color: #ff8eb3;
}

.color-2 {
  background-color: #6e45e2;
}

.color-3 {
  background-color: #86d2d9;
}

.button-card {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}
.button-card .button {
  width: 197px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  line-height: 4.3;
  font-size: 12px;
  font-weight: bold;
  color: #c2c9db;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #fff;
  letter-spacing: 0.6px;
  -webkit-box-shadow: 0 0 18.7px 2.3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 18.7px 2.3px rgba(0, 0, 0, 0.3);
}
.button-card .button:hover {
  background-color: #6e45e2;
  color: #fff;
}

/* bottom */
.bottom {
  width: 1903px;
  height: 1080px;
  background-image: url(../css/img/bg.png);
  overflow: hidden;
}

.main-block {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-top: 200px;
}
.main-block > p {
  height: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.29px;
  letter-spacing: 0.7px;
  color: #fff;
  margin-bottom: 0;
}
.main-block > h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -2.4px;
  margin: 5px 0 0 0;
}
.main-block .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 23px;
}
.main-block .buttons .first,
.main-block .buttons .second {
  width: 197px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  line-height: 4.3;
  font-size: 12px;
  font-weight: bold;
  color: #c2c9db;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}
.main-block .buttons .first a,
.main-block .buttons .second a {
  text-decoration: none;
  display: block;
}
.main-block .first {
  margin-right: 10px;
}
.main-block .second,
.main-block .first {
  background-color: #fff;
  letter-spacing: 0.6px;
  line-height: 2.67;
  -webkit-box-shadow: 0 0 18.7px 2.3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 18.7px 2.3px rgba(0, 0, 0, 0.3);
}
.main-block .second > a,
.main-block .first > a {
  color: #c2c9db;
}
.main-block .second > a:hover,
.main-block .first > a:hover {
  color: #fff;
}
.main-block .second:hover,
.main-block .first:hover {
  background-color: #6e45e2;
}

footer {
  width: 1903px;
  height: 202px;
  position: relative;
}
footer .logo img {
  margin: 50px 0px 0px 50px;
  float: left;
}
footer .misocial {
  font-size: 30px;
  line-height: 0.97;
  letter-spacing: 6px;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 60px;
  margin-left: 17px;
  color: #37374a;
}

.bot-nav .menu ul li a {
  color: #6a6a77;
}
.bot-nav .menu ul li a:hover {
  color: #6e45e2;
}

.lst-btn .btn-t {
  position: absolute;
  right: 50px;
  top: 52px;
}
.lst-btn .btn-t button {
  width: 150px;
  height: 50px;
  font-size: 12px;
  line-height: 2.67;
  letter-spacing: 0.6px;
  text-align: center;
  border: none;
  background-color: transparent;
  border: solid 1px #ffffff;
  border-radius-right: 20px;
  text-transform: uppercase;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  font-weight: bold;
  background-color: #6e45e2;
}
.lst-btn .btn-t button > a {
  height: 50px;
  line-height: 4;
  display: block;
  text-decoration: none;
  color: #fff;
}

.line {
  width: 1820px;
  height: 1px;
  opacity: 0.2;
  background-color: #bdbdc2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

footer p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.36;
  color: rgba(106, 106, 119, 0.5);
  margin-top: 55px;
}

.lf-rg {
  padding-left: 50px;
  padding-right: 50px;
}

.icons {
  float: right;
  margin: -32px 34px 27px 0;
  position: relative;
}
.icons::before {
  width: 86px;
  height: 2px;
  display: block;
  content: '';
  background-color: white;
  position: absolute;
  top: 16.5px;
  left: 18px;
}
.icons img {
  width: 16px;
  height: 16px;
  margin-left: 13px;
}

/* end bottom */

/*# sourceMappingURL=blog.css.map */