body {
  margin: 0px;
  font-family: 'Maven Pro', sans-serif;
  color: #fff;
  font-style: normal;
  font-stretch: normal;
}

header,
section,
footer {
  margin: 0 auto;
}

header {
  background-image: url(../css/img/background.png);
  width: 1903px;
  height: 1080px;
  position: relative;
  font-weight: bold;
}

.logo img {
  margin: 50px 0px 0px 50px;
  float: left;
}

.misocial {
  font-size: 30px;
  line-height: 0.97;
  letter-spacing: 6px;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 60px;
  margin-left: 17px;
}

.menu {
  float: right;
}
.menu ul {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.19;
  margin-top: 66px;
  margin-right: 260px;
}
.menu ul li {
  display: inline-block;
  margin-left: 50px;
}
.menu ul li > a {
  text-decoration: none;
  color: #fff;
}
.menu ul li > a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: translateY(15px) scale(0);
          transform: translateY(15px) scale(0);
  -webkit-transition: all .2s;
  transition: all .2s;
}
.menu ul li > a:hover {
  text-decoration: none;
}
.menu ul li > a:hover::after {
  -webkit-transform: translateY(15px) scale(1);
          transform: translateY(15px) scale(1);
}

.btn-t {
  position: absolute;
  right: 50px;
  top: 52px;
}
.btn-t button {
  width: 150px;
  height: 50px;
  font-size: 12px;
  line-height: 2.67;
  letter-spacing: 0.6px;
  text-align: center;
  border: none;
  background-color: transparent;
  border: solid 1px #ffffff;
  border-radius-right: 20px;
  text-transform: uppercase;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-Left-radius: 30px;
  border-top-Left-radius: 30px;
  font-weight: bold;
}
.btn-t button > a {
  height: 50px;
  line-height: 4;
  display: block;
  text-decoration: none;
  color: #fff;
}

.block {
  width: 377px;
  float: left;
  clear: both;
  margin-top: 342px;
  margin-left: 251px;
}
.block .header {
  margin-left: 40px;
  font-size: 14px;
  line-height: 2.29;
  letter-spacing: 0.7px;
  text-align: left;
  position: relative;
}
.block .header::after {
  position: absolute;
  top: 15px;
  left: -37px;
  display: block;
  content: '';
  width: 24px;
  height: 1px;
  background-color: #fff;
}
.block .main {
  width: 380px;
  font-size: 60px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -2.4px;
  text-align: left;
}
.block .main-second {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  margin-top: 20px;
}
.block .buttons {
  margin-top: 40px;
}
.block .buttons .first,
.block .buttons .second {
  width: 197px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  line-height: 4.3;
  font-size: 12px;
  font-weight: bold;
  color: #c2c9db;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}
.block .buttons .first a,
.block .buttons .second a {
  text-decoration: none;
  display: block;
}
.block .second {
  position: relative;
  left: 211px;
  top: -49px;
}
.block .second,
.block .first {
  background-color: #fff;
  letter-spacing: 0.6px;
  line-height: 2.67;
  -webkit-box-shadow: 0 0 18.7px 2.3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 18.7px 2.3px rgba(0, 0, 0, 0.3);
}
.block .second > a,
.block .first > a {
  color: #c2c9db;
}
.block .second > a:hover,
.block .first > a:hover {
  color: #fff;
}
.block .second:hover,
.block .first:hover {
  background-color: #6e45e2;
}

.circle {
  width: 64px;
  height: 64px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 18.7px 2.3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 18.7px 2.3px rgba(0, 0, 0, 0.2);
  z-index: 999;
  position: absolute;
  bottom: 70px;
  left: 48%;
}
.circle img {
  width: 23px;
  position: absolute;
  left: 21px;
  top: 21px;
}

/* who-we-are*/
.who-we-are {
  width: 1903px;
  height: 1080px;
  overflow: hidden;
  position: relative;
  color: black;
  background-color: #f9fafc;
}

.bg-left {
  width: 5000px;
  height: 5000px;
  background-color: #7a81d6;
  margin: 1082px 0 0 -1745px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  position: absolute;
}

.bg-right {
  float: right;
  width: 500px;
  height: 1000px;
  margin: 557px -34px 0 0;
  background-color: #e2ebf4;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  opacity: 0.4;
}

.bg-right-line {
  float: right;
  width: 500px;
  height: 1000px;
  margin: 590px -406px 0 0;
  background-color: #edf2f8;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  opacity: 0.4;
}

.comp {
  position: absolute;
  top: 184px;
  left: 260px;
  z-index: 999;
}

.block-2 {
  position: absolute;
  right: 540px;
  top: 320px;
  width: 247px;
  z-index: 999;
}
.block-2 span {
  font-size: 14px;
  font-weight: bold;
  line-height: 2.29;
  letter-spacing: 0.7px;
  text-align: left;
  color: #9fa4af;
  text-transform: uppercase;
  position: relative;
  left: 36px;
}
.block-2 span::after {
  content: '';
  display: block;
  position: absolute;
  left: -35px;
  top: 8px;
  width: 24px;
  height: 1px;
  background-color: #6e45e2;
}
.block-2 > h1 {
  width: 340px;
  margin: 0;
  font-size: 60px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -2.4px;
  text-align: left;
  color: #4f4f6f;
}
.block-2 p {
  width: 430px;
  font-size: 16px;
  line-height: 1.5;
  color: #9fa4af;
}

.right-logo {
  width: 64px;
  height: 64px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 18.7px 2.3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 18.7px 2.3px rgba(0, 0, 0, 0.2);
  z-index: 999;
  position: absolute;
  top: 888px;
  left: 1116px;
}
.right-logo img {
  width: 23px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.lg-rg {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 88px;
  bottom: 100px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  z-index: 999;
  opacity: 0.45;
}

.rg-tx > p {
  text-transform: uppercase;
  position: absolute;
  right: 55px;
  bottom: 168px;
  letter-spacing: 2px;
  margin: 0px;
  font-weight: bold;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  z-index: 999;
  opacity: 0.45;
}

/* end who-we-are*/
/* team*/
.team {
  width: 1903px;
  height: 1180px;
  overflow: hidden;
  position: relative;
}

.main-text {
  text-align: center;
}
.main-text > p {
  height: 25px;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.29;
  letter-spacing: 0.7px;
  color: #9fa4af;
  margin: 0;
  margin-top: 40px;
}
.main-text > p::after {
  display: inline-block;
  content: '';
  width: 24px;
  height: 1px;
  background-color: #6e45e2;
  margin: 0 0 4px 15px;
}
.main-text > p::before {
  display: inline-block;
  content: '';
  width: 24px;
  height: 1px;
  background-color: #6e45e2;
  margin: 0 15px 4px 0px;
}
.main-text > h1 {
  height: 60px;
  font-size: 60px;
  line-height: 1.21;
  letter-spacing: 1.6px;
  color: #4f4f6f;
  margin: 10px 0 0 0;
}
.main-text span {
  width: 400px !important;
  height: 50px;
  display: block;
  font-size: 16px;
  line-height: 1.75;
  color: #9fa4af;
  width: 450px;
  margin: 0 auto;
  margin-top: 40px;
}

.content {
  width: 1572px;
  margin: 0 auto;
  margin-top: 80px;
  color: #9fa4af;
}

.row,
.row-2 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.row .card,
.row-2 .card {
  width: 371px;
}
.row .card p,
.row .card span,
.row-2 .card p,
.row-2 .card span {
  display: block;
  text-align: center;
}
.row .card p,
.row-2 .card p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.88;
  letter-spacing: 0.8px;
  margin-bottom: 0px;
}
.row .card span,
.row-2 .card span {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.7px;
  margin: 0;
}

.row-2 {
  margin-top: 70px;
}

/* end team*/
/* bottom */
.bottom {
  width: 1903px;
  height: 1080px;
  background-image: url(../css/img/bg.png);
  overflow: hidden;
}

.main-block {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-top: 200px;
}
.main-block > p {
  height: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.29px;
  letter-spacing: 0.7px;
  color: #fff;
  margin-bottom: 0;
}
.main-block > h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -2.4px;
  margin: 5px 0 0 0;
}
.main-block .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 23px;
}
.main-block .buttons .first,
.main-block .buttons .second {
  width: 197px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  line-height: 4.3;
  font-size: 12px;
  font-weight: bold;
  color: #c2c9db;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}
.main-block .buttons .first a,
.main-block .buttons .second a {
  text-decoration: none;
  display: block;
}
.main-block .first {
  margin-right: 10px;
}
.main-block .second,
.main-block .first {
  background-color: #fff;
  letter-spacing: 0.6px;
  line-height: 2.67;
  -webkit-box-shadow: 0 0 18.7px 2.3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 18.7px 2.3px rgba(0, 0, 0, 0.3);
}
.main-block .second > a,
.main-block .first > a {
  color: #c2c9db;
}
.main-block .second > a:hover,
.main-block .first > a:hover {
  color: #fff;
}
.main-block .second:hover,
.main-block .first:hover {
  background-color: #6e45e2;
}

footer {
  width: 1903px;
  height: 202px;
  position: relative;
}
footer .logo img {
  margin: 50px 0px 0px 50px;
  float: left;
}
footer .misocial {
  font-size: 30px;
  line-height: 0.97;
  letter-spacing: 6px;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 60px;
  margin-left: 17px;
  color: #37374a;
}

.bot-nav .menu ul li a {
  color: #6a6a77;
}
.bot-nav .menu ul li a:hover {
  color: #6e45e2;
}

.lst-btn .btn-t {
  position: absolute;
  right: 50px;
  top: 52px;
}
.lst-btn .btn-t button {
  width: 150px;
  height: 50px;
  font-size: 12px;
  line-height: 2.67;
  letter-spacing: 0.6px;
  text-align: center;
  border: none;
  background-color: transparent;
  border: solid 1px #ffffff;
  border-radius-right: 20px;
  text-transform: uppercase;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-Left-radius: 30px;
  border-top-Left-radius: 30px;
  font-weight: bold;
  background-color: #6e45e2;
}
.lst-btn .btn-t button > a {
  height: 50px;
  line-height: 4;
  display: block;
  text-decoration: none;
  color: #fff;
}

.line {
  width: 1820px;
  height: 1px;
  opacity: 0.2;
  background-color: #bdbdc2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

footer p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.36;
  color: rgba(106, 106, 119, 0.5);
  margin-top: 55px;
}

.lf-rg {
  padding-left: 50px;
  padding-right: 50px;
}

.icons {
  float: right;
  margin: -32px 34px 27px 0;
  position: relative;
}
.icons::before {
  width: 86px;
  height: 2px;
  display: block;
  content: '';
  background-color: white;
  position: absolute;
  top: 16.5px;
  left: 18px;
}
.icons img {
  width: 16px;
  height: 16px;
  margin-left: 13px;
}

/* end bottom */

/*# sourceMappingURL=style.css.map */