$white: #fff;
$active-color-nav: #fff;
$width-home: 1903px;
$opacity-logo: 0.45;
$color-text: #9fa4af;
$color-big: #4f4f6f;
header,
section,
footer,
main,{
	  margin: 0 auto;
}
@mixin radius-link {
	width: 64px;
	height: 64px;
	background-color: $white;
	border-radius: 50%;
	box-shadow: 0 0 18.7px 2.3px rgba(0, 0, 0, 0.2);
	z-index: 999;
}
@mixin sm-line {
	content: '';
	width: 24px;
  	height: 1px;
  	background-color: #6e45e2;
  	display: block;
  	position: absolute;
}
@mixin img-card{
	width: 371px;
	height: 280px;
}
@mixin buttons {
			width: 197px;
 		    height: 50px;
 		    border-radius: 25px;
 		    text-align: center;
 		    line-height: 4.3;
 		    font-size: 12px;
 		    font-weight: bold;
 		    color: #c2c9db;
 		    text-transform: uppercase;
 		    transition: .3s;
}
@mixin buttons-color{
		background-color: $white;
		letter-spacing: 0.6px;
		line-height: 2.67;
		box-shadow: 0 0 18.7px 2.3px rgba(0, 0, 0, 0.3);
}
@mixin misocial{
	font-size: 30px;
	line-height: 0.97;
	letter-spacing: 6px;
	float: left;
	text-transform: uppercase;
	font-weight: bold;
}
@mixin ul {
		list-style: none;
		text-decoration: none;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.19;
}
@mixin after{
					content: "";
					display: block;
					width: 100%;
					height: 2px;
					background-color: $active-color-nav;
					transform: translateY(15px) scale(0); 
					transition: all .2s;
}
@mixin started{
		width: 150px;
		height: 50px;
		font-size: 12px;
		line-height: 2.67;
		letter-spacing: 0.6px;
		text-align: center;
		border: none;
		background-color: transparent;
 	    border: solid 1px #ffffff;
 	    border-radius-right: 20px;
 	    text-transform: uppercase;
 	    border-bottom-right-radius: 30px;
 	    border-top-right-radius: 30px;
 	     border-bottom-left-radius: 30px;
 	    border-top-left-radius: 30px;
 	    font-weight: bold;
}
@mixin btn-a {
			height: 50px;
			line-height: 4;
 	    	display: block;
 	    	text-decoration: none;
 	    	color: $white;
}
@mixin names {
		font-size: 14px;
		letter-spacing: 0.7px;
		font-weight: bold;
		text-transform: uppercase;
		color: $color-text;
}
body {
	margin: 0px;
	font-family: 'Maven Pro', sans-serif;
	color: $white;
	font-style: normal;
	font-stretch: normal; 

}
header,
section,
footer,{
	  margin: 0 auto;
}

header {
	background-image: url(../css/img-pricing/header-background.png);
	width: $width-home;
	height: 770px;
	position: relative;
	font-weight: bold;
}
	.logo{
		img {
				margin: 50px 0px 0px 50px;
				float: left;
		}
	}
.misocial{
	@include misocial;
	margin-top: 60px;
	margin-left: 17px;
	
}
.menu {

	float: right;
	ul{
		@include ul;
		margin-top: 66px;
		margin-right: 260px;
		li{
			font-weight: normal;
			display: inline-block;
			margin-left: 50px;

			>a{
				text-decoration: none;
				color: $white;
				&::after{
					@include after;
				}
				&:hover {
					text-decoration: none;
					&::after{
						transform: translateY(15px) scale(1);
					}
				}
			}
		}
	}
}
.btn-t {

	position: absolute;
	right: 50px;
	top: 52px;

	button{
		@include started;
 	    > a{
			@include btn-a;
 	    }
	}
}
.center-block {
	width: 800px;
	font-weight: bold;
	color: $white;
	text-align: center;
	clear: both;
	margin: 0 auto;
	position: relative;
    top: 146px;
	span{
		display: inline-block;
		font-size: 14px;
		line-height: 2.29;
		letter-spacing: 0.7px;
	    position: relative;
        top: 6px;
        font-weight: 500;
        &::after{
        	display: inline-block;
    		content: '';
   			width: 24px;
   			height: 1px;
   			background-color: #fff;
   			margin: 0 0 4px 15px;
        }
        &::before{
        	display: inline-block;
    		content: '';
   			width: 24px;
   			height: 1px;
   			background-color: #fff;
			margin: 0 15px 4px 0px;
        }	
	}
	h1{
		font-size: 85px;
		font-weight: 500;
		line-height: 0.85;
		letter-spacing: -3.4px;
		margin: 35px 0 0 0;
	}
	p{
		width: 390px;
		font-weight: normal;
		margin: 0 auto;
		margin-top: 37px;
	}
}
.circle {
	@include radius-link;
	position: absolute;
	bottom: 45px;
    left: 49%;
	img{
		width: 23px;
		position: absolute;
    	left: 21px;
   	    top: 21px;
	}
}
.plan{
	width: $width-home;
 	height: 1240px;
 	background-color: #f9fafc;
 	overflow: hidden;
}
.block {
	width: 390px;
	text-align: center;
	margin: 0 auto;
	margin-top: 120px;
	.up-text{
		@include names;
		 &::after{
        	display: inline-block;
    		content: '';
   			width: 24px;
   			height: 1px;
   			background-color: #6e45e2;
   			margin: 0 0 4px 15px;
        }
        &::before{
        	display: inline-block;
    		content: '';
   			width: 24px;
   			height: 1px;
   			background-color: #6e45e2;
			margin: 0 15px 4px 0px;
        }
	}
	h1{
		font-size: 60px;
		font-weight: 500;
		letter-spacing: -2.4px;
		color: $color-big;
		margin: 25px 0 40px 0;
	}
	p{
		font-size: 16px;
		color: $color-text;
		margin: 0 0 0 0 ;
	}
}
.content{
	width: 1420px;
	height: 650px;
	margin: 0 auto;
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
}

.card {
	width: 440px;
	height: 680px;
	text-align: center;
	background-color: $white;
	border-radius: 30px;
	border: solid 1px #d7dbe8;
	transition: .4s;
 @at-root .card-2 {
 	 background-image: url(../css/img-pricing/asset-2-4-x-copy.png);
 	 background-repeat: no-repeat;
 	 background-position: 50% 57.3%;
     background-size: 445%;
 }
	&:hover{
		box-shadow: 0 5px 0 0;
	    box-shadow: 0px 0px 20px 7px #d2d2d2;
	    transition: .4s;
	     	 transform: scale(1.02);
	}
	img.top{
		margin-top: 66px;
		 width: 108px;
  		 height: 94px
	}
	.name{
		@include names;
		display: block;
		margin: 68px 0 28px 0;
	}
		.cost{
		font-size: 18px;
		font-weight: 500;
		letter-spacing: -0.7px;
		display: inline-block;
		color: $color-big;
		margin-top: -17px;
		margin-bottom: 0px;
		&:first-letter{
			font-size: 60px;
			margin-right: -7px;
		}
	}
 .dollar{
 	color: $color-big;
 	font-size: 16px;
 	font-weight: 500;
 	display: inline-block;
 	position: relative;
 	top: -30px;
 }
 .lorem{
	color: $color-text;
	font-size: 16px;
	line-height: 1.75;
	margin: 30px 0 0 0 ;
 }
 .button{
 	@include buttons;
 	background-color: $white;
 	box-shadow: 0 0 18.7px 2.3px rgba(204, 204, 223, 0.5);
  	border: solid 1px #d7dbe8;
  	margin: 0 auto;
  	overflow: hidden;
  	margin-top: 55px;
  	 	&:hover{
 		background-color: #6e45e2;	
 	}
  	 >a {
  	display: block;
  	color: #c2c9db;
 	text-decoration: none;
 		&:hover{
 		color: $white; 	
 	}
 }
 }
}

 .bottom{
 	width: $width-home;
 	height: 520px;
 	background-image: url(../css/img/bg.png);
 	overflow: hidden;

 }
.main-block {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	margin-top: 200px;
	>p{
		height: 10px;
		font-size: 14px;
		font-weight: 500;
		line-height: 2.29px;
		letter-spacing: 0.7px;
		color: $white;
		margin-bottom: 0;
	}
	>h1{
		font-size: 60px;
		font-weight: 500;
		line-height: 1.21;
		letter-spacing: -2.4px;
		margin: 5px 0 0 0;
	}
	  .buttons {
	  	 display: flex;
		 justify-content: center;
		 margin-top: 23px;
   		
		.first , 
		.second{
			@include buttons;
 		    a{
 		    	text-decoration: none;
 		    	display: block;
 		    }
		}
	}
	.first{
		margin-right: 10px;
	}
	.second,
	.first{
		@include buttons-color;
		> a{
			color: #c2c9db;
			&:hover{
				color: $white;
			}
		}
		&:hover{
			background-color: #6e45e2;
			
		}
	}
}
footer{
	width: $width-home;
	height: 202px;
	position: relative;
	.logo{
		img {
			margin: 50px 0px 0px 50px;
			float: left;
		}
	}
	.misocial{
		@include misocial;
		margin-top: 60px;
		margin-left: 17px;
		color: #37374a;

	}
}
.bot-nav{
	.menu{
		ul{
			li{
				a{
					color:#6a6a77;
					&:hover{
						color: #6e45e2;
					}
				}
			}
		}
	}
}
.lst-btn{
	.btn-t {
	position: absolute;
	right: 50px;
	top: 52px;

	button{
		@include started;
		background-color: #6e45e2;
		> a{
			@include btn-a;
		}
	}
 }
}
.line {
  		     width: 1820px;
  			 height: 1px;
 			 opacity: 0.2;
 			 background-color: #bdbdc2;
 			 display: flex;
 			 margin: 0 auto;
 		     position: relative;
    	     top: 20px;
 	}
footer{
	p{
		font-size: 14px;
		font-weight: 500;
		line-height: 1.36;
		color: rgba(106, 106, 119, 0.5);
		margin-top: 55px;
	}
}
.lf-rg{
	padding-left: 50px;
	padding-right: 50px;
}
.icons{
	float: right;
	margin: -32px 34px 27px 0;
	position: relative;
	&::before {
			    
    			width: 86px;
    			height: 2px;
    			display: block;
    			content: '';
  				background-color: white;
    			position: absolute;
    			top: 16.5px; left: 18px;
    			
						
			}
	img{
		width: 16px;
		height: 16px;
		margin-left: 13px;

	}
}
/* end bottom */
