@media (max-width: 1590px) {
  body {
    overflow-x: hidden;
  }

  header {
    width: 1190px;
    height: 800px;
    background-position: -200px -50px;
    margin: 0 auto;
  }
  header .block {
    margin-top: 70px;
    margin-left: 130px;
  }

  .who-we-are {
    width: 1190px;
    height: 950px;
  }
  .who-we-are .comp {
    top: 54px;
    left: 34px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .who-we-are .block-2 {
    right: 210px;
    top: 185px;
  }
  .who-we-are .rg-tx > p {
    right: 15px;
    bottom: 138px;
  }
  .who-we-are .lg-rg {
    right: 49px;
    bottom: 70px;
  }
  .who-we-are .right-logo {
    top: 692px;
    left: 779px;
  }

  .team {
    width: 1190px;
    height: 1050px;
  }

  .content {
    width: 1180px;
  }
  .content img {
    width: 280px;
  }

  .bottom {
    width: 1190px;
    height: 750px;
    background-size: 1190px 750px;
  }

  footer {
    width: 1190px;
  }

  .icons {
    margin: -30px 50px 0px 0;
  }

  .line {
    width: 1090px;
  }
}
@media (max-width: 1190px) {
  body {
    overflow-x: hidden;
  }

  header {
    width: 960px;
    height: 745px;
    background-position: -314px -50px;
    margin: 0 auto;
    overflow: hidden;
  }
  header .menu ul {
    margin-top: -50px;
    margin-right: 156px;
    font-size: 13px;
  }
  header .btn-t button {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin-right: -50px;
  }
  header .block {
    margin-top: 100px;
    margin-left: 112px;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  header .circle {
    bottom: 20px;
    left: 50%;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  .who-we-are {
    width: 960px;
    height: 950px;
  }
  .who-we-are .comp {
    top: 117px;
    left: -55px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .who-we-are .block-2 {
    right: 210px;
    top: 185px;
  }
  .who-we-are .rg-tx > p {
    right: 15px;
    bottom: 264px;
  }
  .who-we-are .lg-rg {
    right: 49px;
    bottom: 191px;
  }
  .who-we-are .right-logo {
    top: 692px;
    left: 581px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .who-we-are .bg-left {
    margin: 1050px 0px 0px -2090px;
    -webkit-transform: rotate(122deg);
            transform: rotate(122deg);
  }

  .team {
    width: 960px;
    height: 940px;
  }

  .content {
    width: 924px;
  }
  .content img {
    width: 215px;
  }

  .bottom {
    width: 960px;
    height: 600px;
    background-size: 960px 600px;
  }

  footer {
    width: 960px;
  }

  .bot-nav .menu ul {
    font-size: 13px;
    margin-top: -50px;
    margin-right: 150px;
  }

  .lst-btn .btn-t button {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin-right: -60px;
  }

  .icons {
    margin: -30px 15px 0px 0;
  }

  .line {
    width: 895px;
  }
}
@media (max-width: 992px) {
  body {
    overflow-x: hidden;
  }

  header {
    width: 755px;
    height: 745px;
    background-position: -314px -50px;
    margin: 0 auto;
  }
  header .menu ul {
    margin-top: -50px;
    margin-right: 156px;
    font-size: 13px;
  }
  header .btn-t button {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin-right: -50px;
  }
  header .block {
    margin-top: 40px;
    margin-left: 55px;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  header .circle {
    bottom: 20px;
    left: 50%;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  .top-nav .menu ul {
    font-size: 13px;
    margin-top: 45px;
    margin-right: 140px;
  }
  .top-nav .menu ul li {
    margin-left: 30px;
  }

  .btn-t {
    right: 50px;
    top: 30px;
  }

  /* who we are */
  .who-we-are {
    width: 755px;
    height: 820px;
  }
  .who-we-are .comp {
    top: 82px;
    left: -121px;
    -webkit-transform: scale(0.55);
            transform: scale(0.55);
  }
  .who-we-are .block-2 {
    right: 120px;
    top: 232px;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  .who-we-are .rg-tx > p {
    right: 15px;
    bottom: 180px;
  }
  .who-we-are .lg-rg {
    right: 49px;
    bottom: 106px;
  }
  .who-we-are .right-logo {
    top: 645px;
    left: 500px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .who-we-are .bg-left {
    margin: 1050px 0px 0px -2090px;
    -webkit-transform: rotate(122deg);
            transform: rotate(122deg);
  }

  /* team */
  .team {
    width: 755px;
    height: 810px;
  }

  .content {
    width: 720px;
  }
  .content .card {
    width: 160px;
  }
  .content .card p {
    font-size: 11px !important;
  }
  .content .card span {
    font-size: 11px !important;
  }
  .content img {
    width: 160px;
  }

  .bottom {
    width: 755px;
    height: 600px;
    background-size: 755px 600px;
  }

  footer {
    width: 750px;
  }

  .logo {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin: 0px 0 0px -155px;
  }

  .bot-nav .menu ul {
    font-size: 13px;
    margin-top: 45px;
    margin-right: 140px;
  }
  .bot-nav .menu ul li {
    margin-left: 30px;
  }

  .lst-btn .btn-t {
    right: 50px;
    top: 30px;
  }

  .lf-rg {
    padding: 0px;
  }
  .lf-rg > p {
    margin-top: 30px;
    margin-left: 15px;
  }

  .icons {
    margin: -30px 15px 0px 0;
  }

  .line {
    width: 720px;
  }
}

/*# sourceMappingURL=first.css.map */